body{
	background-color: #c14869;
	font:.875em/1.5 'trebuchet ms', Arial, sans-serif;
	width: 800px;
	margin: 20px auto;
	background-image:url('../images/bg_image.png');
	background-repeat: repeat-x;
}

#header{
	height: 100px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #000;
}

#main{
	width:100%;
	overflow:auto;
}

img{
	max-width:100%;
}

h1, h2, h3{
	font-family: Audiowide;
}

h2{
	color:#52bc39;
	font-weight:normal;
}

a{
	color: #beb44f;
	text-decoration: none;
}

a:hover{
	border: none;
	color: #50153d;
}

/*-------------Nav Elements-------------*/

ul{
	width:800px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

ul li{
	display: inline;
}

#nav li{
	width:33%;
	float: left;
	text-align: center;
	letter-spacing: .25em;
	border: 1px solid #000;
	text-transform: uppercase;
}

#nav li:hover{
	background-color: #e1e1e1;
	color: #50153d;
}

#nav a{
	display:block;
	height: 20px;
}

#nav a:hover{
	color:#50153d;
	background-color:#e1e1e1;
}

/*-----------Main content elements------------*/

#main_content{
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px .625%;
	margin: 5px .625% 10px .625%;
	height:311px;
	overflow: auto;
}

#info{
	margin: 0;
	float: left;
}

.justice{
	width:62.5%;
	float:right;
}

/*-----------fact&table&form elements-----------*/

#fun_facts{
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	width: 47.375%; /*380*/
	padding: 5px .65789474%;
	margin: 5px .65789474%;
	float: left;
	overflow: auto;
}

#table{
	background-color:#eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	width: 47.375%;
	height: 239px;
	padding: 5px .65789474%;
	margin: 5px .65789474%;
	float: right;
	overflow: auto;
}

.clearfix{
	clear: both;
}

#form{
	background-color:#eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	width: 97.5%; /*780*/
	padding: 5px .64102564%;
	margin: 5px .64102564% 25px .64102564%;
	overflow: auto;
}

/*----------tech spec elements-------*/

#tech_info{
	float:right;
	width: 53%; /*424*/
	font-size: .875em;
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px .58962264%;
	margin-bottom: 10px;
	overflow: auto;
}

.clearfix{
	clear:both;
}

#characteristics{
	
	font-size: .875em;
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px .625%;
	margin: 5px 1.25% 10px 0;
	float: left;
	overflow: auto;
}

#armaments{
	font-size: .875em;
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px .625%;
	margin: 5px 1.25% 10px 0;
	float: left;
	overflow: auto;
}

.ij3{
	float:left;
	border: 2px solid #000;
	border-radius: 10px;
	margin: 0 5px 10px 0;
}

#tech_form{
	font-size: .875em;
	width:35%; /*280*/
	height:153px;
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px 1.25%;
	margin: 5px 0 10px 0;
	float: left;
	overflow: auto;
}

.clearfix{
	clear:both;
}



/*-----------gallery elements--------*/

.ijimages{
	border: 10px solid #beb44f;
	margin: 0 2.5%;
}

.az{
	border: 10px solid #beb44f;
	margin: 0 2.5%;
}



/*-----------footer elements------------*/

footer{
	background-color: #eef3fd;
	color: #000;
	font-size: .8125em;
	line-height: 1.5;
	margin-top:25px;
	padding: 20px 0;
	text-align: center;
}



/*-------Media Queries---------------*/

	/*tablet portrait size to standard 800 (Devices and browsers)*/
	@media screen and (min-width: 768px) and (max-width: 799px){
		
		body{
			margin: 10px;
		}
		
		.ijimages{
			border:7px solid #beb44f;
			margin: 0;
		}
		
		.az{
			border: 5px solid #beb44f;
			margin: 0;
		}
	}
	
	/*Mobile landscape size to tablet portrait (devices and browsers)*/
	@media only screen and (min-width: 480px) and (max-width:767px){

		ul{
			width:600px;			
		}
		
		.ijimages{
			border: 2px solid #beb44f;
			margin: 0;
		}

		.az{
			border: 2px solid #beb44f;
			margin: 0;
		}
		
	}
	
	/*Mobile portrait size to mobile landscape size (devices and browsers)*/
	@media only screen and (max-width:479px){
	
		body{
			margin:10px;
		}
		
		ul{
			width:350px;
		}
		
		img{
			display:none;
		}
		
	}