body{
	background-color: #c14869;
	font:.875em/1.5 'trebuchet ms', Arial, sans-serif;
	width: 800px;
	margin: 20px auto;
	background-image:url('../images/bg_image.png');
	background-repeat: repeat-x;
}

#header{
	height: 100px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #000;
}

#main{
	width:100%;
	overflow:auto;
}

img{
	max-width:100%;
}

h1, h2, h3{
	font-family: Audiowide;
}

h1{
	color:#52bc39;
	font-weight:normal;
}

a{
	color: #beb44f;
	text-decoration: none;
}

a:hover{
	border: none;
	color: #50153d;
}

a img:hover{
	opacity:.50;
}

input:focus{
	background-color:#edede2;
}

/*-------------Nav Elements-------------*/

ul{
	width:100%;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}

ul li{
	display: inline;
}

#nav li{
	width:33%;
	float: left;
	text-align: center;
	letter-spacing: .25em;
	border: 1px solid #000;
	text-transform: uppercase;
}

#nav li:hover{
	background-color: #e1e1e1;
	color: #50153d;
}

#nav a{
	display:block;
	height: 20px;
}

#nav a:hover{
	color:#50153d;
	background-color:#e1e1e1;
}

/*-----------Main content elements------------*/

#main_content{
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px .625%;
	margin: 5px .625% 10px .625%;
	height:311px;
	overflow: auto;
}

#info{
	margin: 0;
	float: left;
}

#j1container{
	width:100%;
}

#j1cotainer img{
	max-width:100%;
}

.justice{
	width:62.5%;
	float:right;
}

/*-----------fact&table&form elements-----------*/

#fun_facts{
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	width: 47.375%; /*380*/
	padding: 5px .65789474%;
	margin: 5px .65789474%;
	float: left;
	overflow: auto;
}

#table{
	background-color:#eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	width: 47.375%;
	height: 239px;
	padding: 5px .65789474%;
	margin: 5px .65789474%;
	float: right;
	overflow: auto;
}

table{
	text-align:left;
	border-collapse:collapse;
	margin-left:5.26315789%;
}

td{
	border:1px solid #000;
	padding:.3em;
}

th{
	font-size:1.0625em;
	border:1px solid #000;
	padding:.2em;
	background-color: #a1a1a1;
}

.odd{
	background-color:#b7b7b7;
}

.clearfix{
	clear: both;
}

h2{
	margin:10px 1.2987013%;
}

#form{
	background-color:#eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	width: 96.25%; /*770*/
	padding: 5px 1.28205128%;
	margin: 5px .64102564% 25px .64102564%;
	overflow: auto;
}

#form fieldset{
	border:none;
	float:left;
	margin:0;
	padding:0;
	display:inline;
	width:380px;
	text-align:right;
}

#form div{
	margin:1em 0;
}

#form select{
	margin-left: 2.5974026%;
}

#form input, #form textarea{
	border:1px solid #000;
	padding:3px;
	margin-left: 1.2987013%;
}

#form textarea{
	height:45px;
	overflow: auto;
}

/*#form button{
	width:150px;
	height:37px;
	border:1px solid #000;
	background-color:#50153d;
	color:#fff;
	border-radius: 10px;
	letter-spacing:.075em;	
	
}*/

#form button{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
#form button:hover {
	text-decoration: none;
}
#form button:active {
	position: relative;
	top: 1px;
}

.button {
	color: #eef3fd;
	border: solid 1px #781760;
	background: #9c466e;
	background: -webkit-gradient(linear, left top, left bottom, from(#e26489), to(#a95673));
	background: -moz-linear-gradient(top,  #e26489,  #a95673);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e26489', endColorstr='#a95673');
}
.button:active {
	color: #eef3fd;
	background: -webkit-gradient(linear, left top, left bottom, from(#a95673), to(#e26489));
	background: -moz-linear-gradient(top,  #a95673,  #e26489);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a95673', endColorstr='#e26489');
}

/*----------tech spec elements-------*/

#tech_info{
	float:right;
	width: 53%; /*424*/
	font-size: .875em;
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px .58962264%;
	margin-bottom: 10px;
	overflow: auto;
}

.clearfix{
	clear:both;
}

#characteristics{
	
	font-size: .875em;
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px .625%;
	margin: 5px 1.25% 10px 0;
	float: left;
	overflow: auto;
}

#armaments{
	font-size: .875em;
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px .625%;
	margin: 5px 1.25% 10px 0;
	float: left;
	overflow: auto;
}

#j2container{
	width:44%;
}

#j2container img{
	max-width:100%;
}

.ij3{
	float:left;
	border: 2px solid #000;
	border-radius: 10px;
	margin: 0 .85227273% 10px 0;
}

#tech_table{
	font-size: .875em;
	width:35%; /*280*/
	background-color: #eef3fd;
	-moz-box-shadow: 3px 3px 8px #000;
	-webkit-box-shadow: 3px 3px 8px #000;
	-o-box-shadow: 3px 3px 8px #000;
	border-radius: 10px;
	padding: 5px 1.25%;
	margin: 5px 0 10px 0;
	float: left;
	overflow: auto;
	text-align:center;
}

#tech_table p{
	font-weight:bold;
	font-size:1.0625em;
}

#tech_table ol{
	text-align:left;
}

.clearfix{
	clear:both;
}



/*-----------gallery elements--------*/

.ijimages{
	border: 10px solid #beb44f;
	margin: 0 2.5%;
}

.az{
	border: 10px solid #beb44f;
	margin: 0 2.5%;
}



/*-----------footer elements------------*/

footer{
	background-color: #eef3fd;
	color: #000;
	font-size: .8125em;
	line-height: 1.5;
	margin-top:25px;
	padding: 20px 0;
	text-align: center;
}



/*-------Media Queries---------------*/

	/*tablet portrait size to standard 800 (Devices and browsers)*/
	@media screen and (min-width: 768px) and (max-width: 799px){
		
		body{
			margin: 10px;
		}
		
		.ijimages{
			border:7px solid #beb44f;
			margin: 0;
		}
		
		.az{
			border: 5px solid #beb44f;
			margin: 0;
		}
	}
	
	/*Mobile landscape size to tablet portrait (devices and browsers)*/
	@media only screen and (min-width: 480px) and (max-width:767px){

		ul{
			width:600px;			
		}
		
		.ijimages{
			border: 2px solid #beb44f;
			margin: 0;
		}

		.az{
			border: 2px solid #beb44f;
			margin: 0;
		}
		
	}
	
	/*Mobile portrait size to mobile landscape size (devices and browsers)*/
	@media only screen and (max-width:479px){
	
		body{
			margin:10px;
		}
		
		#nav li{
			float:none;
			display:block;
		}
		
		#main, #fun_facts, #table, #form, #main, #tech_info, #characteristics, #armaments, #tech_table{
			float:none;
		}
		
		img{
			display:none;
		}
		
	}